/* Reset de CSS (o seletor * seleciona todos os elementos contidos no HTML)*/
*{
margin: 0;
box-sizing: border-box;
}
body{
    background-color: #EFEFF2;
}
h1{
    font-size: 96px;
    color: #01A1A1;
    text-align: center;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
.card{
   display: flex;
   flex-direction: column;
   align-items: center;
    width: 320px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 12px 12px 24px 0px #d1d5db,-12px -12px 24px 0px #ffffff;
}



