/* Reset de CSS (o seletor * seleciona todos os elementos contidos no HTML)*/
*{
margin: 0;
box-sizing: border-box;
}
body{
    background-color: #EFEFF2;
}
h1{
    font-size: 96px;
    color: #01A1A1;
    text-align: center;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }




